* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a0211e;
    color: white;
    overflow-x: hidden; 
}

.main-header {
    background-color: #b71c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    width: 100%;
}

.brand h1 {
    color: white;
    font-size: 28px;
    padding-right: 20px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.desktop-menu ul {
    display: flex;
    list-style: none;
}

.desktop-menu li {
    margin: 0 20px;
}

.desktop-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: lowercase;
    font-family: Arial, sans-serif;
}

.desktop-menu a:hover {
    text-decoration: underline;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu-icon img {
    width: 24px;
    height: 24px;
}

.site-footer {
    background-color: darkgray; 
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}
  
.footer-content {
    display: flex;
    justify-content: space-between; 
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-section {
    flex: 1; 
    margin: 0 20px;
}
  
.footer-section p {
    font-size: 14px;
    color: #fff; 
}
  
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff; 
}
  
.footer-section ul {
    list-style: none;
}
  
.footer-section ul li {
    margin: 10px 0; 
}
  
.footer-section a {
    color: #fff; 
    text-decoration: none; 
}

.company-logo {
    content: url('Imagenes/Companies Section.png');
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b71c1c;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu-container.active {
    display: flex;
}

.mobile-menu-container ul {
    list-style: none;
}

.mobile-menu-container li {
    margin: 20px 0;
    text-align: center;
}

.mobile-menu-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: lowercase;
    font-family: Arial, sans-serif;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 0px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.hero-image img {
    flex: 1;
    margin-left: auto;
    height: auto;
    max-width: 100%;
}

.hero-content {
    max-width: 35%;
}

.hero h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: left;
}

.branding-image img {
    flex: 1;
    margin-left: auto;
    height: auto;
    max-width: 100%;
}

.branding-content {
    max-width: 35%;
}

.branding h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.custom h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 100px;
}

.custom {
    padding: 40px 20px; 
    text-align: center; 
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    margin: 0 auto 30px;
    padding: 40px 20px 60px;
    background-color: #808080;
    text-align: left;
    border-radius: 50px;
}

.contact-image img {
    flex: 1;
    margin-left: auto;
    height: auto;
    max-width: 100%;
}

.contact-content {
    max-width: 35%;
}

.contact button {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
}

.contact button:hover {
    background-color: darkred; 
}

.contact h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.companies {
    text-align: center;
    padding: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.section-title {
    margin-bottom: 10px; 
    text-align: center; 
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 25px 20px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.icon-container {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    background-color: #ffebe9; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 18px;
    font-weight: 700;
    color: #2d2d2d;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-family: sans-serif;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #8d8d8d;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
}

.mobile-description {
    display: none; 
    margin-bottom: 20px; 
    text-align: center;
}

/* Mobile styles */
@media (max-width: 768px) {
    .main-header {
        justify-content: space-between;
        padding: 15px 20px;
    }
    
    .desktop-menu {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }
    
    .brand h1 {
        font-size: 24px; 
    }
    
    .site-footer {
        background-color: #24003a; 
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-section {
        margin: 20px 0;
    }
    
    .company-logo {
        content: url('Imagenes/Companies\ Section-1.png'); 
    }
     
    .logos img {
        width: 1200px;
    }
    
    .branding img {
        width: 45%;
    }
    
    .custom {
        background-color: #b71c1c; 
        width: 100%;
    }
    
    .icon-container img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    
    .card img {
        width: 40px; 
        height: 40px;
        object-fit: contain;
        margin: 5px; 
    }
    
    .text-content {
        flex: 1;
    }
    
    .contact {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 30px 15px;
        border-radius: 20px;
        background-color: #24003a; 
        max-width: 90%; 
        margin: 20px auto; 
    }

    .contact-content {
        max-width: 90%;
    }

    .contact button {
        width: 100%;
        max-width: 300px;
        background-color: black;
    }
    
    .contact img { 
        display: none;
    }
    
    .navbar .menu {
        display: block;
    }
    
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-content {
        max-width: 90%;
    }
    
    .branding {
        flex-direction: column;
        text-align: center;
    }
    
    .cards {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 80%;
    }
    
    .mobile-hidden {
        display: none;
    }
    
    .mobile-description {
        display: block; 
    }
}